.main{
    margin-left: 4%;
    margin-right: 4%;
}
.header{
    margin-top: 50px;
    height: 130px;
}
.main-title{
    font-family: zillaslab,palatino,"Palatino Linotype",serif;
    font-size: 55px;
    margin-bottom: 0px;
    margin-top: 5px;
    line-height: 70px;
}
.main-des{
    font-family: zillaslab,palatino,"Palatino Linotype",serif;
    color: gray;
    margin-top: 20px;
    margin-left: 5px;
    line-height: 1px;
    font-size: 15px;
}
.card{
    border-radius: 10px;
    background: #f5f5f5;
    transition: 0.2s;
    box-shadow: 9px 9px 18px #dadada, -9px -9px 18px #ffffff;
}
.card:hover{
    box-shadow:  9px 9px 18px #b8b8b8, -9px -9px 18px #ffffff;
}
.view{
    border-radius: 5px;
    background: #f5f5f5;
    box-shadow: inset 5px 5px 10px #c4c4c4,
            inset -5px -5px 10px #ffffff;
}
.view-title{
    background-color: white;
    position:absolute;
    display: none;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 30px;
    line-height: 30px;
    background-color: whitesmoke;
    font-family: zillaslab,palatino,"Palatino Linotype",serif;
    box-shadow: 10px 10px 20px #c4c4c4,
    -10px -10px 20px #ffffff;
}
.view:hover .view-title{
    display: inline;
    transition: 0.3s;
}
.view-title:hover{
    cursor: pointer;
}
.card-title:hover{
    cursor: pointer;
}
.year-brusher{
    margin-top: 30px;
    min-width: 100%;
    min-height: 100px;
}
.main-display{
    margin-top: 30px;
    width: 100%;
    min-height: 890px;
}

.song-selector{
    float: left;
    width: 16%;
    margin-bottom: 5px;
    min-height: 890px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.song-selector-right{
    float: left;
    min-height: 870px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 1%;
    width: 82%;
}
.main-display-selector{
    min-height: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 3%;
    margin-right: 1%;
    background-color: whitesmoke;
}
.phrase-selector{
    width:70%;
    float: left;
    min-height: 40px;
}
.mode-selector{
    margin-left: 1%;
    width:25%;
    float: left;
    min-height: 40px;
}
.main-display-major{
    min-height: 440px;
    background-color: whitesmoke;
    margin-top: 10px;
}
.chord-view{
    min-height: 440px;
    float: left;
    width: 59%;
}
.melody-view{
    min-height: 440px;
    float: left;
    margin-left: 1%;
    width: 40%;
}
.main-display-minor{
    min-height: 400px;
    margin-top: 10px;
}
.key-mode-view{
    min-height: 400px;
    float: left;
    width: 49%;
}
.little-view-group{
    min-height: 400px;
    float: left;
    margin-left: 1%;
    width: 50%;
}
.pitch-range-view{
    min-height: 197px;
    width: 100%;
}
.pie-view-group{
    min-height: 197px;
    margin-top: 5px;
    width: 100%;
}
.chord-duration-view{
    min-height: 197px;
    width: 49%;
    float: left;
}
.meter-view{
    min-height: 197px;
    width: 50%;
    margin-left: 1%;
    float: left;
}
.song-display{
    margin-top: 30px;
    min-width: 100%;
    min-height: 450px;
    margin-bottom: 100px;
}

.footer{
    min-height: 30px;
    line-height: 30px;
    user-select: none;
    font-family: zillaslab,palatino,"Palatino Linotype",serif;
    color: rgba(0, 47, 100, 0.644);
}